

<!-- Provide the User data as a partial view -->

<table>
    <tr><td><strong>Client: @ViewBag.Client </strong></td></tr>
    <tr><td><strong>Account: @ViewBag.AccountNumber </strong></td></tr>
</table>