<div class="jumbotron">
    <div class="center-block">
        <h2>Welcome to...</h2>
        <h1>The World's Greatest Banking Ledger!!!</h1>
    </div>
    <p class="text-center lead">Get started by choosing from the navigation bar.</p>
</div>

