

li span {
    color: white;
    font-size: 1.4em;
    cursor: pointer;
}
.linkList {
    margin-top: 10px;
}

.table th, .table td {
    border-top: none !important;
}
.modal {
    text-align: center;
}

@@media screen and (min-width: 300px) {
     .modal:before {
         display: inline-block;
         vertical-align: middle;
         content: " ";
         height: 100%;
     }
 }

.modal-dialog {
    display: inline-block;
    background-color: #808080;
    border-radius: 2%;
    text-align: left;
    vertical-align: sub;
}